################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Calender
/Api/bin/Debug/net8.0
/Api/obj
/.vs
/Api/Api.csproj.user
/CalendarApi/obj/Debug/net8.0
